<a href="https://colab.research.google.com/github/niczky12/medium/blob/master/tech/bigquery/ML_with_Google_BigQuery_Kaggle_Titanic_end_to_end.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# run this if you need to add your kaggle keys
# make sure to choose the kaggle.json file that you received from kaggle
from google.colab import files
files.upload()

! mkdir -p ~/.kaggle
! mv kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [ ]:
# check if your creds are ok
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-12 11:59:54          18602
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          11275
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           5785
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3965
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           2001
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           3082
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1495
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2179
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            608
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1173
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1214
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            573
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            210
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            271
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            177
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            277
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         163100
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         152306
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          31723
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26857

In [ ]:
from google.colab import auth
from google.cloud import bigquery
from google.cloud.bigquery import magics
import os
import matplotlib.pyplot as plt
import kaggle
import pandas as pd
import numpy as np


plt.rcParams["figure.figsize"] = [14, 10]

In [ ]:
# authenticate to Google Cloud
auth.authenticate_user()

In [ ]:
PROJECT_ID = "YOURPROJECTID"
DATASET_ID = "ds"
magics.context.project = PROJECT_ID

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 22.3MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.75MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 26.8MB/s]

In [ ]:
# uploading datasets from pandas
# but you can also do this by sending the files to GCS and then loading them from there
# ask in the comments if you're interested
df = pd.read_csv("train.csv")

df.to_gbq("ds.titanic_raw", project_id=PROJECT_ID, if_exists="replace")

In [ ]:
%%bigquery
select *
from ds.titanic_raw

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            180         0       3  ...   0.0000  None         S
1            264         0       1  ...   0.0000   B94         S
2            278         0       2  ...   0.0000  None         S
3            303         0       3  ...   0.0000  None         S
4            414         0       2  ...   0.0000  None         S
..           ...       ...     ...  ...      ...   ...       ...
886          456         1       3  ...   7.8958  None         C
887          497         1       1  ...  78.2667   D20         C
888          592         1       1  ...  78.2667   D20         C
889          292         1       1  ...  91.0792   B49         C
890          485         1       1  ...  91.0792   B49         C

[891 rows x 12 columns]

In [ ]:
# do the same for test
pd.read_csv("test.csv").to_gbq("ds.titanic_test", project_id=PROJECT_ID, if_exists="replace")

1it [00:03,  3.20s/it]

In [ ]:
# we will split the data into train and eval sets
# to do this, we'll add a random ordering column and then take the first 80% of ids
# per group into the train group and 20% into the eval group

In [ ]:
%%bigquery
with example_users as (
select
  123 as passengerID
union all
select
  123 as passengerID
union all
select
  456 as passengerID
)


select
  passengerID
  ,FARM_FINGERPRINT(cast(passengerID as string)) as random_hash
  ,FARM_FINGERPRINT(cast(passengerID as string) || "mario") as seeded_hash
from example_users

   passengerID          random_hash          seeded_hash
0          123 -3222588021317909685 -4285693159396640487
1          123 -3222588021317909685 -4285693159396640487
2          456 -7152823871777768794  9068623215687284528

In [ ]:
%%bigquery
with hashes as (
select
  FARM_FINGERPRINT(cast(passengerid as string)) as farmhash
  ,*
from ds.titanic_raw
), percentiles as (
  select
    *
    ,PERCENTILE_CONT(farmhash, 0.8) over(partition by survived) as cutoff
  from hashes
), splitdata as (
  select
    * except(cutoff, farmhash)
    ,case when farmhash < cutoff then 1 else 0 end as isTrain
  from percentiles
)

select isTrain, survived, count(*) as counts
from splitdata
group by isTrain, survived
order by isTrain, survived

   isTrain  survived  counts
0        0         0     110
1        0         1      69
2        1         0     439
3        1         1     273

In [ ]:
%%bigquery
create or replace table ds.titanic_prepped
partition by RANGE_BUCKET(isTrain, generate_array(0, 1))
as (
  select
    * except(cutoff, farmhash)
    ,case when farmhash < cutoff then 1 else 0 end as isTrain
  from (
    select
      *
      ,PERCENTILE_CONT(farmhash, 0.8) over(partition by survived) as cutoff
    from (
      select
        FARM_FINGERPRINT(cast(passengerid as string)) as farmhash
        ,*
      from ds.titanic_raw
      )
  )
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# try running this in the console to see what the queried dataset size is like!
# SELECT * FROM `ds.titanic_prepped` where istrain = 0
# SELECT * FROM `ds.titanic_prepped`

In [ ]:
%%bigquery
CREATE OR REPLACE MODEL `ds.titanic_baseline`
OPTIONS(
    MODEL_TYPE='LOGISTIC_REG',
    INPUT_LABEL_COLS=['Survived'],
    DATA_SPLIT_METHOD='CUSTOM',
    DATA_SPLIT_COL='isTrain',
    AUTO_CLASS_WEIGHTS=TRUE,
    EARLY_STOP=TRUE,
    L2_REG = 0.3
) AS
SELECT
    * except(passengerid, isTrain)
    -- we need a boolean column for splitting
    ,isTrain = 1 as isTrain
FROM ds.titanic_prepped

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery
SELECT *
FROM
  ML.PREDICT(
    -- first part is the model we use to predict with
    MODEL `ds.titanic_baseline`,
    -- second argument is the dataset to predict on
    (SELECT * FROM ds.titanic_test)
    )
-- cross join explodes our array of predictions so that we have one row per class
CROSS JOIN UNNEST(predicted_Survived_probs) AS preds
-- we filter for the positive predictions to get 1 row per passenger
WHERE preds.label = 1

     predicted_Survived  ...      prob
0                     0  ...  0.280234
1                     0  ...  0.212691
2                     0  ...  0.207670
3                     0  ...  0.193858
4                     0  ...  0.397225
..                  ...  ...       ...
413                   0  ...  0.179738
414                   0  ...  0.150477
415                   0  ...  0.137360
416                   0  ...  0.146845
417                   0  ...  0.143286

[418 rows x 15 columns]

In [ ]:
cl = bigquery.Client(project=PROJECT_ID)
preds_baseline = cl.query("""
WITH
scores AS (
  SELECT *
  FROM
    ML.PREDICT(
      -- first part is the model we use to predict with
      MODEL `ds.titanic_baseline`,
      -- second argument is the dataset to predict on
      (SELECT * FROM ds.titanic_test)
      )
  -- cross join explodes our array of predictions so that we have one row per class
  CROSS JOIN UNNEST(predicted_Survived_probs) AS preds
  -- we filter for the positive predictions to get 1 row per passenger
  WHERE preds.label = 1
)

SELECT
  PassengerId
  ,case when prob > 0.4 then 1 else 0 end as Survived
FROM scores
""").to_dataframe()

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

In [ ]:
preds_baseline

     PassengerId  Survived
0           1158         0
1           1264         0
2            903         0
3            974         0
4            986         0
..           ...       ...
413         1043         0
414         1101         0
415         1157         0
416         1187         0
417         1226         0

[418 rows x 2 columns]

In [ ]:
preds_baseline.to_csv("baseline.csv", index=False)

# this gives us a 0.75 on the public leaderboard
!kaggle competitions submit -c titanic -m "baseline BQ" -f baseline.csv

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 2.77k/2.77k [00:01<00:00, 2.42kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster

# Feature engineering

In [ ]:
%%bigquery
CREATE OR REPLACE MODEL `ds.titanic_features`
TRANSFORM (
  ML.QUANTILE_BUCKETIZE(Age, 10) OVER() as age_buckets
  ,ML.QUANTILE_BUCKETIZE(Fare, 20) OVER() as fare_buckets
  ,ML.FEATURE_CROSS(STRUCT(cast(age as string) AS age, cast(pclass as string) AS class)) AS cross_age_class
  ,pclass
  ,name
  ,sex
  ,Ml.standard_scaler(age) OVER() as age
  ,SibSp
  ,Parch
  ,Ticket
  ,Ml.standard_scaler(Fare) OVER() as fare
  ,Cabin
  ,Embarked
  ,survived
  ,isTrain
)
OPTIONS(
    MODEL_TYPE='LOGISTIC_REG',
    INPUT_LABEL_COLS=['Survived'],
    DATA_SPLIT_METHOD='CUSTOM',
    DATA_SPLIT_COL='isTrain',
    AUTO_CLASS_WEIGHTS=TRUE,
    EARLY_STOP=TRUE,
    L2_REG = 0.3
) AS
SELECT
    * except(passengerid, isTrain)
    -- we need a boolean column for splitting
    ,isTrain = 1 as isTrain
FROM ds.titanic_prepped

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery
CREATE OR REPLACE MODEL `ds.titanic_boost`
TRANSFORM (
  ML.QUANTILE_BUCKETIZE(Age, 10) OVER() as age_buckets
  ,ML.QUANTILE_BUCKETIZE(Fare, 20) OVER() as fare_buckets
  ,ML.FEATURE_CROSS(STRUCT(cast(age as string) AS age, cast(pclass as string) AS class)) AS cross_age_class
  ,pclass
  ,name
  ,sex
  ,Ml.standard_scaler(age) OVER() as age
  ,SibSp
  ,Parch
  ,Ticket
  ,Ml.standard_scaler(Fare) OVER() as fare
  ,Cabin
  ,Embarked
  ,survived
  ,isTrain
)
OPTIONS(
    MODEL_TYPE='BOOSTED_TREE_CLASSIFIER',
    INPUT_LABEL_COLS=['Survived'],
    DATA_SPLIT_METHOD='CUSTOM',
    DATA_SPLIT_COL='isTrain',
    AUTO_CLASS_WEIGHTS=TRUE,
    EARLY_STOP=TRUE,
    NUM_PARALLEL_TREE = 100,
    MAX_TREE_DEPTH = 3,
    SUBSAMPLE = 0.8
) AS
SELECT
    * except(passengerid, isTrain)
    -- we need a boolean column for splitting
    ,isTrain = 1 as isTrain
FROM ds.titanic_prepped

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery
select *
from ML.EVALUATE(MODEL `ds.titanic_boost`)

   precision    recall  accuracy  f1_score  log_loss   roc_auc
0   0.785088  0.655678  0.799157  0.714571  0.452569  0.834372

In [ ]:
cl = bigquery.Client(project=PROJECT_ID)
preds_boost = cl.query("""
WITH
scores AS (
SELECT
  *
FROM
  ML.PREDICT(
    MODEL `ds.titanic_boost`,
    (
      SELECT * FROM ds.titanic_test
    ))
cross join unnest(predicted_Survived_probs) as label
)

SELECT
  PassengerId
  ,case when prob > 0.3807 then 1 else 0 end as Survived
FROM scores
where label = 1""").to_dataframe()

In [ ]:
# this gives us a 0.75 on the public leaderboard
preds_boost.to_csv("boost.csv", index=False)

!kaggle competitions submit -c titanic -m "boost BQ" -f boost.csv

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 2.77k/2.77k [00:00<00:00, 6.84kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster